<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.saeedsoft.smsbook">


    <uses-permission android:name="ir.yanimsoft.banksms.permission.C2D_MESSAGE" />
    <!-- nivasoftsoft.ir -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <application
        android:name="ir.saeedsoft.smsbook.G"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="ir.saeedsoft.smsbook.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="ir.saeedsoft.smsbook.ActivitySubCategory"></activity>
        <activity android:name="ir.saeedsoft.smsbook.ActivitySms"></activity>
        <activity android:name="ir.saeedsoft.smsbook.ActivityFavorite"></activity>
        <activity android:name="ir.saeedsoft.smsbook.ActivitySetting"></activity>


        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_437867742670"/>
        <service
            android:name="ir.saeedsoft.smsbook.MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>

    </application>

</manifest>

    <!-- wnivasoftsoft.ir -->